.ng-cloak {
    display: none;
}

.navbar-nav > li > a {
    font-weight: 900;
}

#esbrand {
    padding-top: 0.5em;
    width: 5.25em;
}

.navbar-brand {
    padding-top: 0;
}

#playerlist {
    max-height: 10em;
    overflow-y: scroll;
}

#comparemain {
    margin-left: 10em;
    margin-right: 10em;
}

.remove:hover {
    cursor: pointer;
}

.remove.btn {
    text-decoration: underline;
    margin-left: 0.5em;
    margin-bottom: 0.7em;
}

img:hover {
    opacity: 0.7;
}

.statcol {
    cursor: pointer;
}

#catButton {
    margin-right: 0.5em;
}

#addButton {
    margin-left: 0.25em;
}

.hover {
    background-color: #C7C7C7;
}

#team {
    margin-bottom: 1em;
}

#playersearch {
    width: 40%;
}

.teamForm {
    margin-bottom: 5px;
    margin-right: 10px;
}

#teamForm {
    margin-left: 5px;
    margin-right: 5px;
}

@media (min-width: 280px) {
    #esbrand {
        width: 6em;
    }
}

@media (min-width: 320px) {
    #esbrand {
        width: 7em;
    }
}

@media (min-width: 415px) {
    #esbrand {
        padding-top: 0;
        width: 11em;
    }
}

@media (min-width: 1024px) {
    .navbar-nav > li > a {
        font-size: 20px;
    }
}

@media (min-width: 1224px) {
    .navbar-nav > li > a {
        font-size: 22px;
    }
}

.teamButton {
    margin-bottom: 0.5em;
    margin-right: 5px;
}

#dropdownMenu {
    height: 250px;
    overflow: auto;
    opacity: 0.925;
    min-width: 175px;
}

.catLabel {
    width: 75%;
    margin-left: 10px;
    padding-top: 5px;
}

input.catCheck {
    margin: 10.5px 0 0;
    float: right;
}

#listWrap {
    max-height: 10em;
    overflow-y: scroll;
}

#graph {
    margin-left: 5em;
    margin-right: auto;
}
#catDropUp {
    margin-bottom: 0.5em;
}

#catGroup {
    margin-top: 0.5em;
}

.buttonList {
    min-width: 8em;
    background: #DDDDDD
}

#test {
    font-weight:900;
}
.selected{
    font-weight: 900;
}
