@import url(http://fonts.googleapis.com/css?family=Open+Sans);


textarea.form-control{
    max-width: 80%;
    background: #C7C7C7;
    color: black;
    padding-bottom: 0.5em;
    opacity: 0.7;
    font-size: 1em;
}

h1{
    font-size: 50px;
}
.table{
    width:90%;
    resize: both;
}
body{
    padding-left: 2em;
    background-image: url(../img/test.jpg);

    opacity: 0.5;
    background-size: 300%;
    color: black;
     font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', sans-serif;
    font-weight: 400;
    font-size: 3em;
}

main{
}
.navbar{
    /*background-color: #4D4D4F;*/
}


.hover{
    background-color: #C7C7C7;
}


input[type=checkbox]{
        margin-left: 1em;
}

h3 {
    font-size: 25px;
}
#esbrand{
    margin-right: 0em;
}
#navbar{
    padding-top: 0.5em;
}

nav ul li{
    padding: 0.5em;
}
.navbar-toggle{

}
#playersearch{
    width:20%;
    min-width: 150px;
    margin-bottom: 0.5em;
}
#navbutton{
    position: relative;
}

@media screen and (max-width: 992px){
    #navbar{
        display: none;
    }
    body{
        font-size: 3em;
    }
    .table{
        font-size: 0.5em;
    }
    
}


