@import url(http://fonts.googleapis.com/css?family=Open+Sans:700italic,400);


.dark input[type=text] {
    border:1px solid #2a2e31;
    background-color:lightgray;
    color: black;
    opacity: .6;
    height:45px;
}

::-webkit-input-placeholder {
   color: black;
}

:-moz-placeholder { /* Firefox 18- */
   color: black;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: black;  
}

:-ms-input-placeholder {  
   color: black;  
}

.btn-custom {
    font-size: 0.7em;
    color: black;
    background-color: white;
    border-color: #9C9C9C;
    height:45px;
    margin-bottom: 4px;
}

#teambuttons{
    padding-top: 0.25em;
}

h1 {
    font-size: 35px;
}

body {
    padding:0px;
    padding-left: 2em;
    padding-right: 1em;
    background-image: url(../../img/test.jpg);
    opacity: 0.5;
    background-attachment: fixed;
    color: black;
    font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', sans-serif;
    font-weight: 400;
    font-size: 3em;

}

.filter {

}

.hover {
    background-color: #C7C7C7;
}

h3 {
    font-size: 25px;
}

#esbrand{
    margin-right: 0em;

}
nav {
    padding: 0.5em;
    padding-bottom: 0.4em;
    padding-top: 1em
    padding-left: 0em;
    padding-right: 0em;
}

#navbutton{
    position: relative;
}

@media screen and (max-width: 788px) {
    #navbar {
        display: block;
        position: absolute;
        right: 1em;
        top: -0.5em;
    }

    body {
        padding-left: 2em;
        margin: 0;
    }

    #esbrand {
        width: inherit;
    }

    .btn-custom {
        font-size: 0.7em;
        margin-bottom: 70%;
        width:25%;
    }

    .dark input[type=text] {
        width:85%;
    }  

    .column {
        border-style: solid;
        border-width: 5px 5px;
        border-color: black;
        width: 100%;
        margin-right: 0px;
        margin-bottom: 5px;
    }

    .col-xs-offset-* {

    }
    .menu {
        margin: 0;
        padding: 0;
        width: 100%
    }

    .container-fluid {
        margin: 0;
        padding: 0;
        width: 100%;
    }

    #equalheight {
        overflow: scroll;
    }
}

@media screen and (max-width: 992px) {
    #navbar {
        display: block;
        position: absolute;
        right: 1em;
        top: -0.5em;
    }

    body {
        padding-left: 2em;
        margin: 0;
    }

    #esbrand {
        width: inherit;
    }

    .btn-custom {
        font-size: 0.7em;
        margin-bottom: 4px;
        width:100%;
    }

    .dark input[type=text] {
        opacity: .6;
        width:85%;
    }

    .column {
        border-style: solid;
        border-width: 5px 5px;
        border-color: black;
        width: 100%;
        margin-right: 0px;
        margin-bottom: 5px;
    }

    .container-fluid {
        margin: 0;
        padding: 0;
        width: 100%;
    }

    #equalheight {
        overflow: scroll;
    }
    .menu {
        margin: 0;
        padding: 0;
        width: 100%
    }
}

.menu {
    margin-right:;
    color: #949494;
    font-style: bold;
    opacity: 1;
}

.title_date {
    color:  #949494;
    font-weight: 300;
    opacity: 1;
    font-size: 60%;
}

.title_style {
    margin-right: 0em;
    color: black;
    font-weight: 300;
    opacity: 1;
    font-size: 85%;
}

.title_description {
    margin-right: 0em;
    border-width: 1px 1px;
    font-size: 17px;
    font-style: normal;
    font-weight: 700; 
    color: black;
}

.fla, .lfs {
    font-size: 20px;
    color: #4F4F4F;
    font-style: italic;
}

.lfs {
    font-style: normal;
}

.title_link {
    font-size: 15px;
    color: #4F4F4F;
    font-style: normal;
    margin-left:;
}

dt {
    font-weight: 400;
    opacity: 1;
    font-size: 30px;
}

hr {
    color: black;
    border-style: dotted;
    background-color: black;
    opacity: 0.6;
    height: 1px;
    /*margin-left: 7%;*/
}

dd {
    opacity: 1;
    font-size: 80%;
    font-style: italic;
    margin-bottom: 1em;

}

dl {

    overflow: auto;
}

.column {
    border-style: solid;
    border-width: 5px 1px;
    border-color: black;
    width: 32%;
    margin-right: 10px;
    margin-bottom: -99999px;
    padding-bottom: 99999px;
    overflow: auto;
    min-height: 200px;

}

.row {
    float: left;
}

#equalheight {
    overflow: auto;
}
