<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="Home page for Fantasy">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/dist/css/flat-ui.css">
    <link rel="stylesheet" href="../css/main1.css">
    <title>Fantasy Sports</title>

</head>

<body ng-app="Fantasy" ng-controller="TeamController">
    <div class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                </button>
                <a href="../index.html" class="navbar-brand">
                    <img id="esbrand" alt="everything sports brand" src="../img/temp%20(1).png">
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="../index.html">Home</a>
                    </li>
                    <li class="active"><a href="index.html">Team Creator</a>
                    </li>
                    <li><a href="playercompare.html">Player Comparison</a>
                    </li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>
    <main class="container">
        <header>
        </header>

        <section id="teaminput">
            <h1>Fantasy Module</h1>
            <h3>Team Creator</h3>
            <form class="navbar-form" role="search">
                <input type="text" id="playersearch" class="form-control" list="playerlist" ng-click="search()" placeholder="Search for player!">
                <datalist id="playerlist">
                    <option ng-repeat="playerName in dataListPlayers">{{playerName}}</option>
                </datalist>
                <button ng-click="addPlayer()" type="button" ng-click="deletePlayer(player)" class="btn btn-primary">Add Player</button>
            </form>
            <textarea class="form-control" rows="8" cols="2" type="text" name="comment" id="team" placeholder="Copy and Paste Team Here!"></textarea>
            <div id="teambuttons" class="form-group">
                <button class="btn btn-custom" ng-click="refreshPlayerList()" id="submit">Make My Team!</button>
                <button class="btn btn-custom" ng-click="clearTeam()" id="submit">Clear Team!</button>
            </div>
        </section>
        <section>
            <div class="dropdown dropup" ng-hide="empty()">
                <button class="btn btn-custom dropdown-toggle" type="button" id="dropdownMenu" data-toggle="dropdown" aria-expanded="true">Hide Categories<span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                    <li ng-repeat="cat in statCats">
                        <label>{{cat}}
                            <input type="checkbox" ng-click="toggleHide(cat)" ng-checked="isHidden(cat)">
                        </label>
                    </li>
                </ul>
            </div>
            <table class="table" id="teamtable" ng-hide="empty()">
                <colgroup></colgroup>
                <colgroup ng-repeat="cat in statCats" ng-hide="isHidden(cat)" ng-class="{ hover: curCol == $index}"></colgroup>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th id="categories" class="statcol" ng-repeat="cat in statCats" ng-hide="isHidden(cat)" ng-click="sortBy(cat)">{{cat}}</th>
                        <th>Remove</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="player in players |orderBy: getSortedValue: !sortReverse" ng-class="{ hover: curRow == $index }" ng-mouseover="hoverOverRow()">
                        <td>{{player.name}}</td>
                        <td ng-mouseover="hoverOverCol()" ng-repeat="stat in player.stats track by $index" ng-hide="hiddenStat($index)">{{stat}}</td>
                        <td>
                            <button type="button" ng-click="deletePlayer(player)" class="btn btn-danger">Remove</button>
                        </td>
                    </tr>

                </tbody>

            </table>

        </section>
    </main>


    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-rc.2/angular.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script src="player.js"></script>
    <script src="app.js"></script>
</body>

</html>
