<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="Home page for Fantasy">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/main.css">

    <title>Fantasy Sports</title>

</head>

<body ng-app="Fantasy" ng-controller="TeamController">
    <main class="container-fluid">
        <header class="navbar navbar-static-top">
            <a href="../index.html" class="navbar-brand">
                <img id="esbrand" alt="everything sports brand" src="../img/temp%20(1).png">
            </a>
            <div class="navbar-header">
                <button id="navbutton" type="button" class="navbar-toggle collapsed glyphicon glyphicon-align-justify" data-toggle="collapse" data-target="#mobile-nav"> <span class="sr-only">Toggle navigation</span>
                </button>
                <div id="mobile-nav" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav mobilenav">
                        <li>
                            <a href=>Home Page</a>
                        </li>
                        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">Fantasy<span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="../Fantasy/index.html">Team Creator</a>
                                </li>
                                <li><a href="../Fantasy/playercompare.html">Player Comparison</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a>News</a>
                        </li>
                    </ul>
                </div>
                <nav class="navbar-collapse collapse" role="navigation">
                    <ul id="navbar" class="nav nav-tabs">
                        <li role="presentation"><a href="../index.html">Home</a>
                        </li>
                        <li role="presentation" class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">Fantasy<span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li class="active"><a href="../Fantasy/index.html">Team Creator</a>
                                </li>
                                <li><a href="../Fantasy/playercompare.html">Player Comparison</a>
                                </li>

                            </ul>
                        </li>
                        <li role="presentation"><a href="../news/index.html">News</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>

        <section id="teaminput">
            <h1>Fantasy Module</h1>
            <h2>Team Creator</h2>
            <form class="navbar-form" role="search">
                <input type="text" id="playersearch" class="form-control" list="playerlist" ng-click="search()" placeholder="Search for player!">
                <datalist id="playerlist">
                    <option ng-repeat="playerName in dataListPlayers">{{playerName}}</option>
                </datalist>
                <button ng-click="addPlayer()" type="submit" class="btn btn-custom">Add player!</button>
            </form>
            <h2>Copy and Paste Team Here!</h2>
            <textarea class="form-control" rows="8" cols="2" type="text" name="comment" id="team" placeholder="Your team here!"></textarea>
            <div id="teambuttons" class="form-group">
                <button class="btn btn-custom" ng-click="refreshPlayerList()" id="submit">Make My Team!</button>
                <button class="btn btn-custom" ng-click="clearTeam()" id="submit">Clear Team!</button>
            </div>
        </section>
        <section>
            <div class="dropdown dropup" ng-hide="empty()">
                <button class="btn btn-custom dropdown-toggle" type="button" id="dropdownMenu" data-toggle="dropdown" aria-expanded="true">Hide Categories<span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                    <li ng-repeat="cat in statCats">
                        <label>{{cat}}
                            <input type="checkbox" ng-click="toggleHide(cat)" ng-checked="isHidden(cat)">
                        </label>
                    </li>
                </ul>
            </div>
            <table class="table" id="teamtable" ng-hide="empty()">
                <colgroup></colgroup>
                <colgroup ng-repeat="cat in statCats" ng-hide="isHidden(cat)" ng-class="{ hover: curCol == $index}"></colgroup>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th id="categories" ng-repeat="cat in statCats" ng-hide="isHidden(cat)" ng-click="sortBy(cat)">{{cat}}</th>
                        <th>Remove</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="player in players |orderBy: getSortedValue: !sortReverse" ng-class="{ hover: curRow == $index }" ng-mouseover="hoverOverRow()">
                        <td>{{player.name}}</td>
                        <td ng-mouseover="hoverOverCol()" ng-repeat="stat in player.stats track by $index" ng-hide="hiddenStat($index)">{{stat}}</td>
                        <td>
                            <input type="checkbox" ng-click="deletePlayer(player)">
                        </td>
                    </tr>

                </tbody>

            </table>

        </section>
    </main>


    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-rc.2/angular.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script src="player.js"></script>
    <script src="app.js"></script>
</body>

</html>
